<h1>Welcome to iAdopt!</h1>
<%= link_to "Find A Dog", find_a_dog_path, class: "button tiny round" %>
<%= link_to "Register A Shelter", new_shelter_path, class: "button tiny round" %>

</br>
<% if current_user.shelters.present? %>
  Manage Your Shelter(s):
  <% current_user.shelters.each do |shelter| %>
  </br>
    <%= link_to shelter.name, shelter_path(shelter.id) %>
  <% end %>
<% end %>
