/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
$background: #49708A;
$light-background: #D0E0EB;
$white: #fff;
$black: #000;
$blue: #88ABC2;

body {
  // background: url("/sunny_day.jpg") no-repeat center center fixed;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // -webkit-background-size: cover;
  // background-size: cover;
  background-color: $background;
}

.container {
  padding-top: 60px;
}

#home-background {
  background-color: $light-background;
  padding-top: 30px;
}

.shelter-box {
  background-image: url('/bulldog.jpg');
  width: 1000px;
  height: 450px;
}

.shelter-box-small {
  background: url('/puppy.jpg') no-repeat center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 400px;
  height: 450px;
}

.shelter-title {
  font-family: 'Sigmar One', cursive;
  font-size: 25pt;
  padding: 25px;
}

.shelter-title-small {
  font-family: 'Sigmar One', cursive;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 25pt;
  padding: 5px;
}

.shelter-info {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 278px;
  padding: 25px;
}

.shelter-info-small {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 314px;
  padding: 15px;
}

#gmap {
  margin: 0;
  padding: 0;
}

.dog-thumb {
  width: 100%;
  margin: 5px;
  max-height: 250px;
}

.dog-card {
  border-radius: 25px;
  background-color: $white;
  padding: 25px;
  margin: 10px;
  height: 350px;
  li { list-style: none; };
  .dog-thumb {
    width: auto;
  };
}

.dog-image {
  border-radius: 25px;
  max-height: 500px;
  max-width: 400px;
  box-shadow: 10px 10px 20px #888888;
  padding: 0;
}

#dog-info {
  background: $white;
  margin-top: 15px;
  padding-right: 20px;
}

.dog-box {
  background-color: $white;
  border: 5px solid $blue;
  padding: 35px;
}

.shelter-card {
  border-radius: 25px;
  background-color: $white;
  padding: 25px;
  margin: 10px;
  height: 450px;
  li { list-style: none; };
  .dog-thumb {
    width: auto;
  };
}

.shelter-top {
  background: $white;
}

#chart {
  padding: 0;
  margin: 0;
}

.gmap {
  margin-top: 5px;
}

.owner-buttons {
  margin-top: 10px;
}

.home-dog {
  width: 100%;
}

.twitter-box {
  text-align: center;
}

.twitter-timeline {
  width: 100%;
}

.title {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.dtitle {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 20pt;
}

.maintitle {
  font-size: 25pt;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
}
.subheading {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

.preferences {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 30px;
  padding-bottom: 10px;
}

.preferences-image {
  margin-left: 30px;
  margin-top: 30px;
}

.new-shelter-image {
  box-shadow: 10px 10px 20px #888888;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 0;
}

.quote-box {
  box-shadow: 10px 10px 20px #888888;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.alert-box {
  margin: 0;
  padding: 10;
}

.button-group {
  display: inline-block;
  margin: 1rem 0;
  position: relative;
  &:before {
    background: $white;
    border-radius: 50%;
    color: #999;
    display: block;
    content: attr(data-grouptype);
    font-size: 1rem;
    left: 37.5%;
    padding: 0.25em;
    position: absolute;
    top: 0.35rem;
    z-index: 99999;
  }
  button + button {
    margin-left: 5px;
  }
}

#logo {
  height: 40px;
  margin-left: 10px;
  margin-top: 5px;
  padding: 3px;
}


.mobile-welcome {
  margin-top: 25px;
}

.main-page-image-box {
  margin-bottom: 0;
  max-width: 500px;
  padding-bottom: 0;
  padding-top: 30px;
}

.main-page-image {
  margin-bottom: 0;
  padding-bottom: 0;
}

.sign-in-links a {
  background-color: rgba(255, 255, 255, 0.5);
  color: $black;
  font-weight: bold;
}

.form-title {
  color: $black;
  font-size: 12pt;
  font-weight: bold;
}

#shelters {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}

#shelters td, #shelters th {
  font-size: 1em;
  border: 1px solid $background;
  padding: 3px 7px 2px 7px;
}

#shelters th {
  font-size: 1.1em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: $background;
  color: #ffffff;
}

#shelters tr.alt td {
  color: #000000;
  background-color: #EAF2D3;
}

#shelter-info {
  margin-top: 50px;
  border: 1px solid $black;
}

.shelter-image {
  margin-bottom: 15px;
}

.shelter-button {
  background-color: #98bf21;
}

.shelter-index {
  box-shadow: 10px 10px 20px #888888;
}

.top-bar {
  height: 60px;
}

.search {
  margin-right: 15px;
}

.button-blue {
  background-color: $blue;
}

.button-dark-blue {
  background-color: #49708A;
}
