/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
$white: #fff;

body {
  // background: url("/dogsunset.jpg") no-repeat center center fixed;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // -webkit-background-size: cover;
  // background-size: cover;
}

.button-group {
  position: relative;
  display: inline-block;
  margin: 1rem 0;
  &:before {
    content: attr(data-grouptype);
    z-index: 99999;
    color: #999;
    display: block;
    font-size: 1rem;
    padding: 0.25em;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 37.5%;
    top: 0.35rem;
  }
  button + button {
    margin-left: 5px;
  }
}

.home-container {
  margin-top: 25px;
}

.top-bar {
  height: 60px;
}

.logo {
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
}

.mobile-welcome {
  margin-top: 25px;
}


.main-page-image-box {
  margin-bottom: 0;
  max-width: 500px;
  padding-bottom: 0;
  padding-top: 30px;
}

.main-page-image {
  margin-bottom: 0;
  padding-bottom: 0;
}

.sign-in-links a {
  color: $white;
  font-weight: bold;
}

.form-title {
  color: $white;
  font-size: 12pt;
  font-weight: bold;
}

.subheading {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

.preferences {
  background-color: rgba(255, 255, 255, 0.5);
}

.preferences-image {
  margin-top: 30px;
}

.new-shelter-image {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
