.wrapper
  .sidebar
    .title
      Sidebar
    %ul.nav
      %li
        %a Dashboard
      %li
        %a Statistics
      %li
        %a.active Milestones
      %li
        %a Experiments
      %li
        %a Previews
      %li
        %a Assets
      %li
        %a Settings
      %li
        %a Logout
  .content.isOpen
    %a.button
    %h1 Flexbox Off Canvas Menu
    %h2 Lightweight, simple, easy to use
