<div class="parent2">
  <a href="<%= user_path(current_user) %>"><div class="test2"><i class="fa fa-user fa-2x"></i></div></a>
  <a href="<%= shelters_path %>"><div class="test3"><i class="fa fa-eye fa-2x"></i></div></a>
  <a href="<%= root_path %>"><div class="test4"><i class="fa fa-home fa-2x"></i></div></a>
  <div class="mask2"><i><img src="/paw_logo_white.png" style="width: 75px; padding-bottom: 25px"></i></div>
</div>
